.internForm {
  margin: 0 150px 40px 150px;
  color: var(--color-dark--2);
}
.internForm h1 {
  font-size: 40px;
}
.internForm h5 {
  color: black;
  font-size: 20px;
  margin-top: 25px;
}
.internForm h6 {
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  margin: 25px 0;
}
.internForm p {
  margin: 8px 0 8px 0;
}
.internForm button {
  padding: 14px 38px;
  background-color: rgb(14, 14, 94);
  color: var(--color-light--1);
  text-transform: uppercase;
  font-size: 14px;
}
.internForm input,
.internForm select,
.internForm textarea {
  margin: 0 25px 15px 0;
  color: grey;
  font-size: 15px;
  width: 31.9%;
  padding: 14px 0px 14px 5px;
  outline: none;
  border: none;
  background-color: var(--color-form--1);
}
.details input:last-child,
.textarea1 textarea:last-child,
.textarea2 textarea:last-child {
  margin-right: 0;
}
.selection {
  display: flex;
  flex-direction: column;
}
.selection input,
.selection select {
  width: 100%;
}
.selection label {
  margin-bottom: 10px;
  color: rgb(175, 175, 175);
  font-weight: 700;
}
.textarea2 textarea {
  width: 48.9%;
}
.textarea1 textarea,
.textarea2 textarea {
  padding-bottom: 250px;
  overflow: hidden;
}
textarea::placeholder {
  font-size: 16px;
}
